<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Result Management System</title>
    <link rel="stylesheet" href="/css/style.css" />

    {{>validation}}
</head>

<body>

    <div class="welcome">
        <h4 class="welcomeTxt">Welcome to <br></h4>
        <p class="pokUni">POKHARA UNIVERSITY</p><br>
    </div>

    <div class="rightBar">
        <img src="https://pu.edu.np/wp-content/uploads/2020/01/pu_logo_new.png" id="PUlogo">

        <form action="/admin" method="POST" class="sign">
            <p id="userName">Username:</p>
            <input type="text" id="uName" name="uName">
            <p id="passWord">Password:</p>
            <input type="password" id="pwd" name="password">
            <br>
            <button class="submit">Login</button>
            <p class="forgot" align="center"><a href="/">See Results</a></p>
        </form action="/admin" method="POST">

    </div>

    {{>footer}}
    <script src="/app.js"></script>

</body>

</html>