<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation</title>
</head>

<body>
    <script>


        const validation = () => {

            const uName = document.getElementById('uName').value;
            const pwd = document.getElementById('pwd').value;


            if (uName == 'riwaj' && pwd == '1212') {

                alert('working');
                // app.get("/admin", (req, res) => {
                //     res.render('admin');
                // });
                console.log(uName);
                console.log(pwd);

            }
            else {
                alert('Sorry the authentication is not valid');
            }
        }
    </script>
</body>

</html>